<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.AnimalMapper">
    <insert id="insertAniInfo" parameterType="kr.smhrd.model.AnimalVO">
        insert into animal(ani_name, mem_num, ani_sex, ani_kind, ani_weight, ani_back_len, ani_neck_len, ani_chest_len) 
        values(#{ani_name},#{mem_num},#{ani_sex},#{ani_kind},#{ani_weight},#{ani_back_len},#{ani_neck_len},#{ani_chest_len})
    </insert>
    
    <select id="getAniInfo" resultType="kr.smhrd.model.AnimalVO">
        select * from animal where mem_num = #{mem_num}
    </select> 
    
    <select id='aniKindList' resultType="kr.smhrd.model.AniKindVO">
        select * from animal_kind
    </select>
</mapper>