<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.ReviewMapper">
    <select id="selectProductReview" resultType="kr.smhrd.model.ReviewVO">
        select * from product_review where pd_num = #{pd_num} 
    </select>
    <select id="selectMemReview" resultType="kr.smhrd.model.ReviewVO">
        select *
        from product_review as pr, purchase_history as ph, product as pd, product_stock as ps
        where pr.ph_num = ph.ph_num 
        and ph.mem_num = #{mem_num}
        and ph.pd_num = pd.pd_num
        and ph.stk_num = ps.stk_num
    </select>
    
    
    <insert id="insertProductReview" parameterType="kr.smhrd.model.ReviewVO">
        insert into product_review(ph_num, review_content, review_img, satis_size, satis_color, satis_thickness, satis_brightness, ani_neck_length,
        ani_chest_length, ani_back_length, ani_weight, review_score, pd_num) 
        values(#{ph_num}, #{review_content}, #{review_img}, #{satis_size}, #{satis_color}, #{satis_thickness}, #{satis_brightness},  
        #{ani_neck_length}, #{ani_chest_length}, #{ani_back_length}, #{ani_weight}, #{review_score}, #{pd_num})
    </insert>
<!--     <insert id="insertProductReview" parameterType="kr.smhrd.model.ReviewVO">
        insert into product_review(mem_num, pd_num, review_content, review_img, stk_option, stk_size, review_score) 
        values(#{mem_num}, #{pd_num}, #{review_content}, #{review_img}, #{stk_option}, #{stk_size}, #{review_score})
    </insert> -->
    <update id="reviewDone">
        update purchase_history set review_done = 1 where ph_num=#{ph_num}
    </update>
    
    <select id="getReviewAvgScore" resultType="double">
        select avg(review_score) from product_review where pd_num = #{pd_num}
    </select>
    
    <select id="countReview" resultType="int">
        select count(review_num) from product_review where pd_num = #{pd_num}
    </select>
    
    <delete id="deleteReview">
        delete from product_review where pd_num = #{pd_num} and mem_num = #{mem_num} 
    </delete>
<!--     <select id="selectPdNum" resultType="int">
        select pd_num from purchase_History where ph_num = #{ph_num}
    </select> -->
    
    <select id="getWriteReviewList" resultType="kr.smhrd.model.PurchaseHistoryVO">
		 select *
			from purchase_history as ph, product as pd, product_stock as ps
			where ph.mem_num = #{mem_num}
		    and ph.pd_num = pd.pd_num
		    and ph.stk_num = ps.stk_num
		    and ph.review_done = 0
    </select>
</mapper>