<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.SearchMapper">
    
    <select id="selectSearchWord" resultType="String">
        select searchWord from search_word where searchWord=#{searchWord}
    </select>
    
     <update id="countSearchWord">
        update search_word set searchWord_count=searchWord_count+1 where searchWord=#{searchWord}
    </update>
    
    <insert id="insertSearchWord">
        insert into search_word(searchWord) values(#{searchWord})
    </insert>
    
    <select id="getPopularSearchWord" resultType="String">
        select searchWord from search_word order by searchWord_count desc limit 10
    </select>
    
    <select id="searchedProductList" resultType="kr.smhrd.model.ProductVO">
        select pd_num, pd_name, pd_price from product where pd_name like #{searchWord}
    </select>
    
   	<select id ="searchedProductListByPage" parameterType = "kr.smhrd.model.MinMaxVO" resultType="kr.smhrd.model.ProductVO">
        select * from (select row_number() over(order by pd_num) as num,pd_num,pd_name,pd_cate_num,pd_price,pd_img_count,pd_avg_score,seller_num,pd_date,brand,sales_count from product where pd_name like #{searchWord}) as p where num between #{min} and #{max}
    </select>
</mapper>